/******* BASE STYLES *******/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b2b2b;
}

#about, #work, #contact {
  height: 100vh;
  clear: both;
}

/******* GRID *******/
.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 33%;
  float: left;
}

/******* HEADER *******/

header {
    height: 800px;
    background: url("../img/hero.png");
    background-size: cover;
}

header h1 {
    padding: 65px 0 65px 25px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #bbc085;
}

nav {
    float: right;
    padding: 75px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #9b9b9b;
    padding-left: 80px;
}

nav ul li a:hover {
  font-weight: bold;
  color: #2b2b2b;
}

header h2 {
    width: 83%;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
}
header h2 span {
    color: #2b2b2b;
}

/******* ABOUT *******/

#about .full-width {
  padding: 80px 0;
}

#about h2 {
  font-family: 'Lora', serif;
  font-size: 36px;
  padding-left: 50px;
}

#about p {
  font-size: 21px;
  color: #7f7f7f;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

/******* WORK *******/

#work {
  background-color: #f9ceb7;
  text-align: center;
}

#work .full-width {
  padding: 115px 0;
}

#work img {
  padding-bottom: 30px;
}

#work h3 {
  font-size: 24px;
  line-height: 32px;
  width: 190px;
  margin: 0 auto;
}

#work p {
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 30px;
  padding: 0 50px;
}

/******* CONTACT *******/

#contact {
  background-color: #ebebeb;
}

#contact .full-width {
    padding: 110px 0;
}

#contact img#contact-img {
    width: 80%;
    height: auto;
    margin-left: 25px;
    border: 12px solid #ffffff;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
}
#contact #email-header{
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}

/* RESPONSIVE */

@media (max-width: 1030px) {
  nav ul li a {
      padding-left: 60px;
  }
  /* ABOUT */
  #about h2 {
    font-family: 'Lora', serif;
  }

  #about p {
    font-size: 18px;
    color: #7f7f7f;
    line-height: 30px;
    padding-left: 3em;
    padding-right: 3em;
  }

  /******* CONTACT *******/
  #contact .full-width {
    clear: both;
  }

  #contact ul li img {
    font-size: 28px;
    padding-right: 36px;
  }
}

@media (max-width: 900px) {
  header h2 {
    font-size: 3em;
    line-height: 1em;
  }

  nav ul li a {
      padding-left: 40px;
  }

  #contact .full-width {
      padding: 110px 0;
  }

  #contact img#contact-img {
      width: 80%;
      height: auto;
      margin-left: 25px;
      border: 12px solid #ffffff;
  }

  #contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
      padding-left: 115px;
  }
  #contact #envelope {
      padding: 0 10px 0 115px;
  }

  #contact h2 {
      font-family: 'Lora', serif;
      font-size: 36px;
      line-height: 44px;
  }
  #contact #email-header{
      font-size: 32px;
      font-weight: 400;
      line-height: 44px;
      margin: -30px 0 5px 0;
  }
  #contact #socialmedia-header {
      font-weight: bold;
      font-size: 29px;
      line-height: 44px;
      margin: 40px 0 0 0;
  }
  #contact a {
      text-decoration: none;
      color: #c49075;
      font-weight: bold;
      font-size: 28px;
  }

  #contact ul {
      list-style: none;
  }
  #contact ul li {
       display: inline-block;
  }
  #contact ul img {
      font-size: 32px;
      padding-right: 48px;
  }

}

@media (max-width: 780px) {
  nav {
      float: none;
  }
  nav ul li{
      display:list-item;
      list-style: none;
      padding-bottom: 1em;
  }

  nav ul li a {
    padding-left: 70%;
  }

  /******* ABOUT *******/

  #about .full-width {
    padding: 70px 0;
  }

  #about p {
    padding-bottom: 50px;
  }
}

@media (max-width: 640px) {
  nav ul li a {
    padding-left: 65%;
  }

  /******* ABOUT *******/
  #about {
    clear: both;
    height: auto;
  }

  #about .full-width {
    padding: 70px 0;
  }

  #about .half-width {
    float: none;
    width: 90%;
  }

}

@media (max-width: 530px) {
  nav ul li a {
    padding-left: 55%;
  }
}

@media (max-width: 490px) {
  /* HEADER */
  nav ul li a {
    padding-left: 50%;
  }
}

@media (max-width: 450px) {
  nav ul li a {
    padding-left: 45%;
  }

  /******* ABOUT *******/
  #about h2 {
    font-size: 2em;
  }

}

@media (max-width: 400px) {
  nav ul li a {
    padding-left: 35%;
  }
}
